/bin
/build
/.gradle
/out
.DS_Store
*~
classes
code
templib
SConstruct
.*dblite
pom.xml
.project
.classpath
.settings
.idea
*.iml
*.ipr
*.iws
*-gc.log
# Eclipse project files
.project
.classpath
.settings
# Build targets
/target
*/target
# JVM crash logs
hs_err_pid*.log